<?xml version="1.0" ?>
<aiwar>
  <options>
    <debug>false</debug>
    <manual>true</manual>
    <map>maps/map.xml</map>
    <blue>PYTHON_TEAM</blue>
    <red>TEAM_DUMMY</red>
    <renderer>sdl</renderer>
  </options>
  <players>
    <player>
      <name>PYTHON_TEAM</name>
      <handler>python</handler>
      <params>embtest</params>
    </player>
    <player>
      <name>TEAM_DUMMY</name>
      <handler>dummy</handler>
      <params/>
    </player>
    <player>
      <name>merovingien</name>
      <handler>python</handler>
      <params>mero</params>
    </player>
    <player>
      <name>GuiGui_03</name>
      <handler>python</handler>
      <params>AIWar_GuiGui_03</params>
    </player>
    <player>
      <name>print_config</name>
      <handler>python</handler>
      <params>print_config</params>
    </player>
  </players>
  <renderers>
    <renderer>
      <name>dummy</name>
      <params/>
    </renderer>
    <renderer>
      <name>sdl</name>
      <params/>
    </renderer>
  </renderers>
  <constants>
    <WORLD_SIZE_X>800.0</WORLD_SIZE_X>
    <WORLD_SIZE_Y>800.0</WORLD_SIZE_Y>
    <!--Minerals-->
    <MINERAL_SIZE_X>4.0</MINERAL_SIZE_X>
    <MINERAL_SIZE_Y>4.0</MINERAL_SIZE_Y>
    <MINERAL_LIFE>20000</MINERAL_LIFE>
    <!--MiningShip-->
    <MININGSHIP_SIZE_X>16.0</MININGSHIP_SIZE_X>
    <MININGSHIP_SIZE_Y>16.0</MININGSHIP_SIZE_Y>
    <MININGSHIP_SPEED>5.0</MININGSHIP_SPEED>
    <MININGSHIP_DETECTION_RADIUS>160.0</MININGSHIP_DETECTION_RADIUS>
    <MININGSHIP_MAX_LIFE>1000</MININGSHIP_MAX_LIFE>
    <MININGSHIP_START_LIFE>600</MININGSHIP_START_LIFE>
    <MININGSHIP_START_FUEL>1200</MININGSHIP_START_FUEL>
    <MININGSHIP_MAX_FUEL>2000</MININGSHIP_MAX_FUEL>
    <MININGSHIP_MOVE_CONSO>5</MININGSHIP_MOVE_CONSO>
    <MININGSHIP_MINING_RADIUS>30.0</MININGSHIP_MINING_RADIUS>
    <MININGSHIP_MINERAL_EXTRACT>50</MININGSHIP_MINERAL_EXTRACT>
    <MININGSHIP_MAX_MINERAL_STORAGE>8000</MININGSHIP_MAX_MINERAL_STORAGE>
    <MININGSHIP_MEMORY_SIZE>4</MININGSHIP_MEMORY_SIZE>
    <!--Fighter-->
    <FIGHTER_SIZE_X>16.0</FIGHTER_SIZE_X>
    <FIGHTER_SIZE_Y>16.0</FIGHTER_SIZE_Y>
    <FIGHTER_SPEED>5.0</FIGHTER_SPEED>
    <FIGHTER_DETECTION_RADIUS>160.0</FIGHTER_DETECTION_RADIUS>
    <FIGHTER_MAX_LIFE>1000</FIGHTER_MAX_LIFE>
    <FIGHTER_START_LIFE>600</FIGHTER_START_LIFE>
    <FIGHTER_MOVE_CONSO>5</FIGHTER_MOVE_CONSO>
    <FIGHTER_START_FUEL>1200</FIGHTER_START_FUEL>
    <FIGHTER_MAX_FUEL>2000</FIGHTER_MAX_FUEL>
    <FIGHTER_MEMORY_SIZE>4</FIGHTER_MEMORY_SIZE>
    <FIGHTER_START_MISSILE>8</FIGHTER_START_MISSILE>
    <FIGHTER_MAX_MISSILE>12</FIGHTER_MAX_MISSILE>
    <!--Missile-->
    <MISSILE_SIZE_X>5.0</MISSILE_SIZE_X>
    <MISSILE_SIZE_Y>1.0</MISSILE_SIZE_Y>
    <MISSILE_LIFE>10</MISSILE_LIFE>
    <MISSILE_MOVE_CONSO>2</MISSILE_MOVE_CONSO>
    <MISSILE_START_FUEL>16</MISSILE_START_FUEL>
    <MISSILE_MAX_FUEL>16</MISSILE_MAX_FUEL>
    <MISSILE_SPEED>20.0</MISSILE_SPEED>
    <MISSILE_DAMAGE>200</MISSILE_DAMAGE>
    <!--Base-->
    <BASE_SIZE_X>25.0</BASE_SIZE_X>
    <BASE_SIZE_Y>25.0</BASE_SIZE_Y>
    <BASE_DETECTION_RADIUS>200.0</BASE_DETECTION_RADIUS>
    <BASE_MAX_LIFE>10000</BASE_MAX_LIFE>
    <BASE_START_LIFE>5000</BASE_START_LIFE>
    <BASE_MISSILE_PRICE>26</BASE_MISSILE_PRICE> <!-- = MISSILE_LIFE + MISSILE_START_FUEL -->
    <BASE_MININGSHIP_PRICE>1800</BASE_MININGSHIP_PRICE> <!-- = MININGSHIP_START_LIFE + MININGSHIP_START_FUEL -->
    <BASE_FIGHTER_PRICE>2008</BASE_FIGHTER_PRICE> <!-- = FIGHTER_START_LIFE + FIGHTER_START_FUEL + BASE_MISSILE_PRICE * FIGHTER_START_MISSILE -->
    <BASE_START_MINERAL_STORAGE>10000</BASE_START_MINERAL_STORAGE>
    <BASE_MAX_MINERAL_STORAGE>500000</BASE_MAX_MINERAL_STORAGE>
    <BASE_MEMORY_SIZE>6</BASE_MEMORY_SIZE>
    <BASE_REPAIR_RADIUS>30.0</BASE_REPAIR_RADIUS>
    <BASE_REFUEL_RADIUS>30.0</BASE_REFUEL_RADIUS>
    <BASE_GIVE_MISSILE_RADIUS>30.0</BASE_GIVE_MISSILE_RADIUS>
    <!--Communication-->
    <COMMUNICATION_RADIUS>60.0</COMMUNICATION_RADIUS>
  </constants>
</aiwar>
