
   <!-- *** DEBUT *** -->
   <!-- Iteration pour le match de ##Player1## contre ##Player2## -->
        <div class="match">
            <h2>AIWar : ##Player1## Vs ##Player2##</h2>
            <div class="summary">
                <h3>Summary</h3>
                <ul>
                    <li style="color:#00ff00"><b>Player 1 :</b> (##Player1ScoreTotal##) ##Player1##</li>
                    <li style="color:#00cc00"><b>Player 2 :</b> (##Player2ScoreTotal##) ##Player2##</li>
                </ul>

               <canvas id="id_match_summary2_##Player2##" width="400" height="250">[No canvas support]</canvas>
            </div>

            <div class="blue">
                <h3>##Player1## blue</h3>
                <ul>
                    <li style="color:#0000ff"><b>BLUE player :</b> (##Player1BlueScore##) ##Player1##</li>
                    <li style="color:#ff0000"><b>RED player  :</b> (##Player2RedScore##) ##Player2##</li>
                </ul>

               <canvas id="id_match1_##Player2##" width="400" height="250">[No canvas support]</canvas>
               <canvas id="id_match2_##Player2##" width="400" height="400">[No canvas support]</canvas>
            </div>

            <div class="red">
                <h3>##Player1## red</h3>
                <ul>
                    <li style="color:#0000ff"><b>BLUE player :</b> (##Player2BlueScore##) ##Player2##</li>
                    <li style="color:#ff0000"><b>RED player  :</b> (##Player1RedScore##) ##Player1##</li>
                </ul>

                <canvas id="id_match3_##Player2##" width="400" height="250">[No canvas support]</canvas>
                <canvas id="id_match4_##Player2##" width="400" height="400">[No canvas support]</canvas>
            </div>
        </div>
   <!-- Iteration pour le match de ##Player1## contre ##Player2## -->
   <!-- *** FIN *** -->


