<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <script src="../lib/RGraph/libraries/RGraph.common.core.js" ></script>
    <script src="../lib/RGraph/libraries/RGraph.common.dynamic.js" ></script>
    <script src="../lib/RGraph/libraries/RGraph.common.tooltips.js" ></script>
    <script src="../lib/RGraph/libraries/RGraph.common.key.js" ></script>
    <script src="../lib/RGraph/libraries/RGraph.hbar.js" ></script>
    <script src="../lib/RGraph/libraries/RGraph.common.effects.js" ></script>
    <script src="../lib/RGraph/libraries/RGraph.pie.js" ></script>
    <!--[if lt IE 9]><script src="../lib/RGraph/excanvas/excanvas.js"></script><![endif]-->
     
    <link rel="stylesheet" type="text/css" href="../lib/css/RGraph_loop.css">
    <title>AIWar : ##Player1## Vs The world</title>
    
    <meta name="description" content="AIWar : ##Player1## Vs The world">
</head>
<body>

    <h1>AIWar : ##Player1## Vs The world</h1>
    <div class="introduction">
        <div class="description">
            <h2>Description :</h2>
            <ul>
                <li><b>Date :</b> ##DescriptionDate## ##DescriptionHour##</li>
                <li><b>Type :</b> ##DescriptionType##</li>
            </ul>
        </div>

        <div class="summary">
            <h2>Summary</h2>
            <ul>
                <li><b>Player 1 :</b> ##Player1## (##DescriptionVersionPlayer1##)</li>
                <li><b>The world :</b> ##PlayersList##</li>
                <li><b>Maps     :</b> ##MapsList1##</li>
                <li><b>Rounds   :</b> ##Rounds##</li>
            </ul>
            
            <canvas id="id_match_summary" width="600" height="250" !style="border:1px solid #ccc">[No canvas support]</canvas>
        </div>
    </div>
    

