<!doctype html>
<html>
	<head>
		<script src="../lib/Chart.js/Chart.js"></script>
		<meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
		
        <link rel="stylesheet" type="text/css" href="../lib/css/ChartJs_loop.css">
		<title>AIWar : ##Player1## Vs The world<</title>
        <meta name="description" content="AIWar : ##Player1## Vs The world">
	</head>
	<body>
        <h1>AIWar : ##Player1## Vs The world</h1>
        <div class="introduction">
            <div class="description">
                <h2>Description</h2>
                <ul>
                    <li><b>Date :</b> ##DescriptionDate## ##DescriptionHour##</li>
                    <li><b>Type :</b> ##DescriptionType##</li>
                </ul>
            </div>
           <div class="summary">
                <h2>Summary</h2>
                <ul>
                    <li style="color:#ffff00"><b>Player 1 :</b> (##Player1ScoreTotal##) ##Player1##</li>
                    <li style="color:#cccc00"><b>The world :</b> (##Player2ScoreTotal##) ##PlayersList##</li>
                    <li><b>Maps     :</b> ##MapsList1##</li>
                    <li><b>Rounds   :</b> ##Rounds##</li>
                </ul>
                
                <canvas id="id_match_summary1" width="400" height="250">[No canvas support]</canvas>
            </div>
        </div>
        

