
	    <script>

            var radar_options = {
	            //String - Colour of the scale line	
	            scaleLineColor : "rgba(255,255,255,.7)",
	
	            //String - Point label font declaration
	            pointLabelFontFamily : "'Arial'",
	
	            //String - Point label font weight
	            pointLabelFontStyle : "normal",
	
	            //Number - Point label font size in pixels	
	            pointLabelFontSize : 12,
	
	            //String - Point label font colour	
	            pointLabelFontColor : "rgba(255,255,255,.7)",
            };

            
		    var pieData_match_summary1 = [
				    {
					    value: ##Player1ScoreTotal##,
					    color: "#ffff00"
				    },
				    {
					    value : ##Player2ScoreTotal##,
					    color : "#cccc00"
				    },
				    {
					    value : ##DrawScoreTotal##,
					    color : "#dddddd"
				    }
			
			    ];
	        new Chart(document.getElementById("id_match_summary1").getContext("2d")).Pie(pieData_match_summary1);
	        

