
           // *** DEBUT ***
           // Iteration pour le match de ##Player1## contre ##Player2##
		    var pieData_match_summary2_##Player2## = [
				    {
					    value: ##Player1ScoreTotal##,
					    color:"#00ff00"
				    },
				    {
					    value : ##Player2ScoreTotal##,
					    color : "#00cc00"
				    },
				    {
					    value : ##DrawScoreTotal##,
					    color : "#dddddd"
				    }
			
			    ];
	        new Chart(document.getElementById("id_match_summary2_##Player2##").getContext("2d")).Pie(pieData_match_summary2_##Player2##);
	        
		    var pieData_match1_##Player2## = [
				    {
					    value: ##Player1BlueScore##,
					    color:"#0000ff"
				    },
				    {
					    value : ##Player2RedScore##,
					    color : "#ff0000"
				    },
				    {
					    value : ##DrawScore1##,
					    color : "#dddddd"
				    }
			
			    ];
	        new Chart(document.getElementById("id_match1_##Player2##").getContext("2d")).Pie(pieData_match1_##Player2##);
	        
		    var radarChartData_match2_##Player2## = {
			    labels : [##MapsList2##],
			    datasets : [
				    {
					    fillColor : "rgba(0,0,255,0.5)",
					    strokeColor : "rgba(0,0,255,1)",
					    pointColor : "rgba(0,0,255,1)",
					    pointStrokeColor : "#0000ff",
					    data : [##MapsScoreList1_Player1##]
				    },
				    {
					    fillColor : "rgba(255,0,0,0.5)",
					    strokeColor : "rgba(255,0,0,1)",
					    pointColor : "rgba(255,0,05,1)",
					    pointStrokeColor : "#ff0000",
					    data : [##MapsScoreList1_Player2##]
				    },
				    {
					    fillColor : "rgba(221,221,221,0.5)",
					    strokeColor : "rgba(221,221,221,1)",
					    pointColor : "rgba(221,221,221,1)",
					    pointStrokeColor : "#dddddd",
					    data : [##MapsScoreList1_Draw##]
				    }
			    ]
			
		    };
	        new Chart(document.getElementById("id_match2_##Player2##").getContext("2d")).Radar(radarChartData_match2_##Player2##, radar_options);

		    var pieData_match3_##Player2## = [
				    {
					    value: ##Player2BlueScore##,
					    color:"#0000ff"
				    },
				    {
					    value : ##Player1RedScore##,
					    color : "#ff0000"
				    },
				    {
					    value : ##DrawScore2##,
					    color : "#dddddd"
				    }
			
			    ];
	        new Chart(document.getElementById("id_match3_##Player2##").getContext("2d")).Pie(pieData_match3_##Player2##);
	        
		    var radarChartData_match4_##Player2## = {
			    labels : [##MapsList2##],
			    datasets : [
				    {
					    fillColor : "rgba(0,0,255,0.5)",
					    strokeColor : "rgba(0,0,255,1)",
					    pointColor : "rgba(0,0,255,1)",
					    pointStrokeColor : "#0000ff",
					    data : [##MapsScoreList2_Player1##]
				    },
				    {
					    fillColor : "rgba(255,0,0,0.5)",
					    strokeColor : "rgba(255,0,0,1)",
					    pointColor : "rgba(255,0,05,1)",
					    pointStrokeColor : "#ff0000",
					    data : [##MapsScoreList2_Player2##]
				    },
				    {
					    fillColor : "rgba(221,221,221,0.5)",
					    strokeColor : "rgba(221,221,221,1)",
					    pointColor : "rgba(221,221,221,1)",
					    pointStrokeColor : "#dddddd",
					    data : [##MapsScoreList2_Draw##]
				    }
			    ]
			
		    };
	        new Chart(document.getElementById("id_match4_##Player2##").getContext("2d")).Radar(radarChartData_match4_##Player2##, radar_options);
           // Iteration pour le match de ##Player1## contre ##Player2##
           // *** FIN ***

